$color-primary: #6f93e7;
$color-primary-light: #97aee2;
$color-primary-dark: #5284f5;
$box-shadow-color: #00000075;
$background-color: #fdfdfdad;
$error-red: #de1313;
$focus-outline: #fbff00;
$search-btn: #ff849f;
$back-btn: #425684;
