body {
  background-image: linear-gradient(
    to right top,
    $color-primary-dark,
    $color-primary-light
  );
  background-repeat: no-repeat;
  height: 100%;
}

.home {
  h1 .title {
    border: 1px solid #cfddf8;
    padding: 0.5rem 1rem;
    color: #d1ddf8;
  }
  .content-container {
    height: 80vh;
    display: flex;
    @include responsive(56.25em) {
      flex-direction: column;
      align-items: center;
      width: 75%;
      margin: auto;
    }
    @include responsive(37.5em) {
      width: 100%;
    }
    .macro-input-container {
      padding: 4rem 0;
      border-radius: 1rem;
      box-shadow: 0 1.5rem 4rem $box-shadow-color;
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #fdfdfdad;
      position: relative;
      @include responsive(56.25em) {
        width: 100%;
        height: 50rem;
        margin: 2.5rem 0;
      }
      @include responsive(37.5em) {
        margin: 2.5rem 0 4.5rem 0;
      }
      &-input {
        padding: 0 3rem;
        display: flex;
        position: relative;
        width: 75%;
        height: 20%;
        border-radius: 0.5rem;
        justify-content: space-around;
        align-items: center;
        position: relative;
        @include responsive(75em) {
          padding: 0 4rem;
        }
        @include responsive(37.5em) {
          padding: 0 5rem;
        }
        @include responsive(25em) {
          padding: 0 4.5rem;
        }
        &::after {
          content: "";
          display: inline-block;
          height: 75%;
          width: 0.3rem;
          background-color: #de1313;
          position: absolute;
          right: -1.5rem;
          opacity: 0;
          transform: translateY(-2rem);
          transition: all 0.5s;
        }
        &.invalid {
          animation: shake 0.15s;
          &::after {
            opacity: 1;
            transform: translateY(0);
          }
        }

        &.calories {
          background-image: linear-gradient(to bottom, #e56767, #cc2c2d);
        }

        &.protein {
          background-image: linear-gradient(to bottom, #69e567, #34d05d);
        }

        &.carbs {
          background-image: linear-gradient(to bottom, #6777e5, #3541d1);
        }

        &.fat {
          background-image: linear-gradient(to bottom, #ca63e4, #c43cd4);
        }

        .input-title {
          margin: 0;
          font-weight: 300;
          font-size: 4rem;
          color: white;
          flex: 0 0 66%;
          display: flex;
          justify-content: space-between;
          @include responsive(75em) {
            font-size: 3rem;
          }
          @include responsive(56.25em) {
            font-size: 2.4rem;
          }
          @include responsive(37.5em) {
            font-size: 2rem;
          }
          @include responsive(25em) {
            font-size: 1.5rem;
          }
          span {
            transition: all 0.25s;
            &.less {
              transform: rotateY(0deg);
            }

            &.greater {
              transform: rotateY(180deg);
            }
          }
        }

        .unit {
          color: white;
          font-size: 2rem;
          @include responsive(56.25em) {
            font-size: 1.7rem;
          }
          @include responsive(25em) {
            font-size: 1.4rem;
          }
        }

        .input-group {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          margin-left: 4rem;
          flex: 1;
          font-weight: 300;
          @include responsive(25em) {
            margin-left: 2rem;
          }
          .macro-input {
            margin-right: 1rem;
            width: 6rem;
            border: none;
            padding: 0 0.5rem;
            font-size: 1.6rem;
            background: none;
            border-bottom: 1px solid white;
            color: white;
            transition: width 0.2s;
            @include responsive(56.25em) {
              width: 5rem;
            }
            @include responsive(25em) {
              width: 4rem;
            }
            &:focus {
              outline: none;
              width: 7rem;
              @include responsive(56.25em) {
                width: 6rem;
              }
              @include responsive(25em) {
                width: 5rem;
              }
            }
          }
        }

        .icon {
          height: 5.5rem;
          width: 5.5rem;
          display: flex;
          background-color: white;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: -4.2rem;
          box-sizing: content-box;
          box-shadow: 0 1.5rem 4rem $box-shadow-color;
          @include responsive(75em) {
            height: 4.5rem;
            width: 4.5rem;
            left: -3.5rem;
          }
          @include responsive(25em) {
            height: 4rem;
            width: 4rem;
            left: -3rem;
          }
          img {
            height: 70%;
            width: 70%;
          }
        }
      }

      .validation-error-msg {
        border: 2px solid #de1313;
        padding: 0.3rem 3.2rem;
        background-color: #eff4ff;
        color: #de1313;
        position: absolute;
        top: -4rem;
        right: 3rem;
        animation: fadeInRight 0.5s;
      }

      .ant-select {
        width: 12rem;
        position: absolute;
        right: 10rem;
        top: .8rem;

        &-selection {
          background-color: #cfddf8;
          border-color: #7196eb;
          transition: none; //override
          &:focus,
          &:active {
            box-shadow: 0 0 0 2px #fbff00;
            border-color: transparent;
          }
        }
      }

      .search {
        background-color: #ff849f;
        color: white;
        position: absolute;
        right: -3rem;
        box-shadow: 0 0.1rem 0.5rem $box-shadow-color;
        transition: transform 0.2s;
        @include responsive(37.5em) {
          bottom: -25px;
          right: 50%;
          transform: translateX(50%);
        }
        &:hover,
        &:focus {
          cursor: pointer;
          transform: translateY(-.2rem);
          box-shadow: 0 0.4rem 1rem $box-shadow-color;
          @include responsive(37.5em) {
            transform: translateX(50%);
          }
        }

        &:focus {
          outline: none;
          border: 2px solid #fbff00;
        }

        &:active {
          outline: none;
          transform: translateY(0);
          box-shadow: 0 0.1rem 0.5rem $box-shadow-color;
          @include responsive(37.5em) {
            transform: translateX(50%);
          }
        }
      }
    }

    .chart {
      margin-left: 2rem;
      width: 50%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      @include responsive(56.25em) {
        width: 100%;
      }
      canvas {
        height: 100% !important;
        @include responsive(75em) {
        }
        @include responsive(56.25em) {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}

@keyframes operatorFlip {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(-1rem);
  }
  75% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
