body {
  background-image: none;
  background-color: #789ae7;
  height: 100%;

  .loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.results-container {
  padding: 2rem 10rem;
  .results-content {
    background-color: #b8cdff;
    border-radius: 3px;
    padding: 5rem 7rem;
    box-shadow: 0 0.5rem 2rem $box-shadow-color;
    .ant-collapse {
      border-radius: 0;
      background-color: #b8cdff;
      .ant-collapse-item {
        border-bottom: 1px solid #789ae7;
        .ant-collapse-header {
          font-size: 2rem;
          padding: 1.6rem 0 1.6rem 4rem;
        }
      }
      .restaurant-content {
        .restaurant-item-list {
          list-style: none;
          display: flex;
          align-items: center;
          padding-left: 5rem;
          padding-right: 5rem;
          &:not(:first-child) {
            padding-top: 1.4rem;
          }
          &:not(:last-child) {
            border-bottom: 1px solid #98b3f3;
            padding-bottom: 14px;
          }
          & > div:first-child {
            margin-right: 1rem;
            width: 50%;
            font-size: 1.6rem;
          }
          .item-macros {
            display: flex;
            flex: 1;
            justify-content: space-between;
            & > div:not(:last-child) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
