body {
  background-image: none;
  background-color: $color-primary;
  height: 100%;

  .loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.results-container {
  padding: 2rem 10rem;
  @include responsive(56.25em) {
    padding: 0;
  }
  .results-content {
    background-color: $color-primary-light;
    border-radius: 3px;
    padding: 5rem 7rem;
    box-shadow: 0 0.5rem 2rem $box-shadow-color;
    position: relative;
    @include responsive(37.5em) {
      padding: 5rem 2rem;
    }
    @include responsive(25em) {
      padding: 4rem 2rem;
    }
    .no-results {
      text-align: center;
      font-size: 4rem;
      .sad-face {
        display: inline-block;
        animation: rotate90 0.75s ease-out;
        animation-fill-mode: forwards;
        margin-left: 1.5rem;
      }
    }
    .back-btn {
      background-color: transparent;
      border-bottom: none;
      border-width: 0;
      color: $back-btn;
      position: absolute;
      top: 15px;
      left: 20px;
      padding: 3px;
      border: none;
      transition: color 0.25s;
      @include responsive(25em) {
        font-size: 1rem;
      }
      &:hover,
      &:focus {
        cursor: pointer;
        color: #34415f;
        animation: swayLeftRight 0.75s forwards infinite;
      }
      &:focus {
        outline: 2px solid $focus-outline;
      }
    }
    .ant-collapse {
      border-radius: 0;
      background-color: transparent;
      .ant-collapse-item {
        border-bottom: 1px solid $color-primary;
        .ant-collapse-header {
          font-size: 2rem;
          padding: 1.6rem 0 1.6rem 3rem;
          transition: none;
          @include responsive(37.5em) {
            font-size: 1.5rem;
          }
          @include responsive(25em) {
            padding: 0.7rem 0 0.7rem 2.4rem;
          }
          &:focus {
            outline: 2px solid $focus-outline;
          }
        }
        .ant-collapse-content {
          &-box {
            @include responsive(64em) {
              padding-bottom: 0;
              padding-top: 0;
            }
          }
        }
      }
      .restaurant-content {
        ul {
          @include responsive(25em) {
            margin-bottom: 0.7rem;
          }
        }
        .restaurant-item-list {
          list-style: none;
          display: flex;
          align-items: center;
          padding-left: 5rem;
          padding-right: 5rem;
          @include responsive(64em) {
            padding-left: 3rem;
            padding-right: 3rem;
          }
          @include responsive(37.5em) {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
          }
          @include responsive(25em) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
          &:not(:first-child) {
            padding-top: 1.4rem;
            @include responsive(64em) {
              padding-top: 1rem;
            }
            @include responsive(25em) {
              padding-top: 0.5rem;
            }
          }
          &:not(:last-child) {
            border-bottom: 1px solid #8aa3dc;
            padding-bottom: 1.4rem;
            @include responsive(64em) {
              padding-bottom: 1rem;
            }
            @include responsive(25em) {
              padding-bottom: 0.5rem;
            }
          }
          & > div:first-child {
            width: 50%;
            font-size: 1.6rem;
            @include responsive(37.5em) {
              font-size: 1.2rem;
              width: 40%;
            }
            @include responsive(25em) {
              font-size: 0.8rem;
              width: 30%;
            }
          }
          .item-macros {
            display: flex;
            flex: 1;
            text-align: center;
            justify-content: space-between;
            @include responsive(37.5em) {
              font-size: 1.2rem;
            }
            @include responsive(25em) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@keyframes swayLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate90 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}
